body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.cell {
  border: 1px solid #969191;
}
.cell-alive {
  background-color: #000;
}
.cell-dead {
  background-color: #fff;
}
/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/
/*h2 {*/
/*  font-size: 2em;*/
/*}*/
/*body {*/
/*  margin: 0;*/
/*  min-height: 100vh;*/
/*  background: linear-gradient(to bottom, #88e9fd, #e88239);*/
/*}*/


