#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2 {
  font-size: 2em;
}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #88e9fd, #e88239);
}


